<div class="title"><%=submitValue%></div>
<div class="errors" style="display:none;"></div>
<div class="settings-link-form-item">
    Имя ссылки
    <input type="text" class="link-name" value="<%=nameValue%>" placeholder="Введите имя ссылки" />
</div>
<div class="settings-link-form-item">
    Адрес ссылки
    <input type="text" class="link-href" value="<%=hrefValue%>" placeholder="Введите адрес ссылки" />
</div>
<div class="settings-link-form-item">
    <button class="link-submit"><%=submitValue%></button>
</div>