<div class="main-container">

    <table cellspacing="0" cellpadding="0" style="width:100%;">
        <tr>
            <td>
                <div class="main-header" id="header-region"></div>
            </td>
            <td style="width:200px; text-align:right;">
                <div class="main-user-info" id="user-info-region"></div>
            </td>
        </tr>
    </table>
    <div id="page-title-region" class="main-page-title"></div>
    <div class="main-sidebar">
        <strong>Список категорий</strong>
        <div id="left-region"></div>
    </div>
    <div class="main-content">
        <div id="crumbs-region"></div>
        <div id="__CONTENT_CONTAINER__"></div>
    </div>
    <div class="main-footer" id="footer-region">
        Подвал
    </div>

    <!-- dialog regions -->
    <div id="dialog-message" style="display:none;"></div>
    <div id="dialog-categories" style="display:none;"></div>
    <div id="dialog-form" style="display:none;"></div>
    <!-- dialog regions -->

</div>