<div class="fs--main-container">

    <div class="fs--main-center">

        <div class="fs--main-header">
            <div class="fs--top-header">
                <table cellspacing="0" cellpadding="0" class="fs--top-header-table">
                    <tr>
                        <td class="fs--top-header-menu-td" id="header-region"></td>
                        <td class="fs--top-header-search-td">
                            <input id="short-search" name="short-search" placeholder="Поиск" class="header-short-search" />
                        </td>
                        <td class="fs--top-header-user-td" id="user-info-region"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="fs--main-sidebar">
            <div id="popular-region"></div>
            <div id="left-region"></div>
        </div>

        <div class="fs--main-content">
            <div class="fs--crumbs-region" id="crumbs-region"></div>
            <div class="fs--main-page-title" id="page-title-region"></div>
            <div class="fs--content-container" id="__CONTENT_CONTAINER__"></div>
        </div>

    </div>

    <div class="fs--main-footer" id="footer-region">
        <div class="under-footer">
            <div class="left-one">
                <div>
                    <a target="_blank" href="https://github.com/dgdagadin87/4stor_manager/">Ссылка</a> на репозиторий проекта
                </div>
                <div>
                    Контент взят с <a target="_blank" href="http://4stor.ru">4stor.ru</a>
                </div>
            </div>
            <div class="center-one">
                <% var footerCurYear=new Date().getFullYear(); %><%=footerCurYear%> &copy;
            </div>
            <div class="right-one">
                <div>
                    Автор проекта: <a href="mailto:dgdagadin@gmail.com">dgdagadin@gmail.com</a>
                </div>
                <div>
                    version 0.0.5
                </div>
            </div><!---->
        </div>
    </div>

</div>

<!-- dialog regions -->
<div id="dialog-message" style="display:none;"></div>
<div id="dialog-categories" style="display:none;"></div>
<div id="dialog-form" style="display:none;"></div>
<!-- dialog regions -->