<div class="settings-table-container">
    <table class="settings-sync-table" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <td class="checkbox-cell">
                    <input type="checkbox" class="delete-checkbox all-checkbox" />
                </td>
                <td class="name-cell">Название</td>
                <td class="href-cell">Адрес</td>
                <td class="switch-cell">Вкл.</td>
                <td class="multi-cell">М/с</td>
                <td class="controls-cell">&nbsp;</td>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>