<td class="checkbox-item-cell">
    <input type="checkbox" class="delete-checkbox" />
</td>
<td class="name-item-cell">
    <%=linkName%>
</td>
<td class="href-item-cell">
    <a target="_blank" href="<%=linkHref%>"><%=linkHref%></a>
</td>
<td class="switch-item-cell">
    <div title="Ссылка <%= linkIsOn == true ? 'включена' : 'отключена' %>" class="radio-class <%= linkIsOn == true ? 'yes' : 'no' %>"></div>
</td>
<td class="multi-item-cell">
    <div title="Многостраничность <%= linkIsMultipage == true ? 'включена' : 'отключена' %>" class="radio-class <%= linkIsMultipage == true ? 'yes' : 'no' %>"></div>
</td>
<td class="controls-item-cell">
    <a class="edit-button grid-for-disabled" href="#" title="Редактировать ссылку">Ред.</a>
    <a class="delete-button grid-for-disabled" href="#" title="Удалить ссылку">Удл.</a>
</td>