<div>Ссылки для синхронизации</div>
<div class="grid-toolbar">
    <div class="item add"></div>
    <div class="item refresh"></div>
</div>
<div class="settings-table-container">
    <table cellspacing="0" cellpadding="0" style="width:100%;">
        <thead>
            <th>&nbsp;</th>
            <th>#</th>
            <th>Название</th>
            <th>Адрес</th>
            <th>Вкл.</th>
            <th>Многостр-ть</th>
            <th>&nbsp;</th>
        </thead>
        <tbody></tbody>
    </table>
</div>