<div class="paragraph">
    Данное программное обеспечение (далее - ПО) полностью написано мною, <a href="mailto:dgdagadin@gmail.com">dgdagadin@gmail.com</a>, от проектировки до разворачивания на хостинге.
    Контент данного ПО взят (и берется) с сайта <a href="http://4stor.ru">4stor.ru</a>. Данное ПО является некоммерческим и разработано для использования мною и лицами, которым я дам
    доступ. ПО построено по принципу SPA (single-page application - одностраничное web-приложение).
</div>
<div class="paragraph">
    Программа делится на три большие части:
    <ul>
        <li>Модуль синхронизации данных с сайтом <a href="http://4stor.ru">4stor.ru</a>;</li>
        <li>Серверные API-функции;</li>
        <li>Клиентский функционал.</li>
    </ul>
</div>
<div class="paragraph">
    Программа гарантированно работает в следующих браузерах:
    <ul>
        <li>Internet Explorer 9+;</li>
        <li>Google Chrome;</li>
        <li>Opera;</li>
        <li>Mozilla Firefox.</li>
    </ul>
    В остальных (кроме ИЕ 8 и менее) с большой долей вероятности заработает, но это я не проверял.
</div>
<div class="paragraph">
    Технологии, использованные при реализации ПО:
    <ul>
        <li>На сервере:
            <ul type="circle">
                <li>
                    <a target="_blank" href="http://php.net">PHP 5.6</a>
                </li>
                <li>
                    <a target="_blank" href="http://www.mysql.com">MySQL 5.6</a>
                </li>
            </ul>
        </li>
        <li>На клиенте:
            <ul type="circle">
                <li>
                    <a target="_blank" href="http://backbonejs.org">Backbone.js 1.3.3</a>
                </li>
                <li>
                    <a target="_blank" href="http://marionettejs.com">MarionetteJS 2.4.7</a>
                </li>
                <li>
                    <a target="_blank" href="http://requirejs.org/">RequireJS 2.2.0</a>
                </li>
                <li>
                    <a target="_blank" href="https://jquery.com/">jQuery 2.2.4</a>
                </li>
                <li>
                    <a target="_blank" href="http://jqueryui.com">jQuery UI 1.11.4</a>
                </li>
                <li>
                    <a target="_blank" href="http://underscorejs.org">Underscore.js 1.8.3</a>
                </li>
                <li>
                    <a target="_blank" href="https://gionkunz.github.io/chartist-js/">Chartist.js 0.10.0</a>
                </li>
            </ul>
        </li>
    </ul>
</div>