<div class="categories-dialog-header">
    Выбор категорий
</div>
<div class="category-chose-toolbar">
    <a class="category-choose-set-all" href="#">Выбрать все</a>
    &nbsp;&nbsp;
    <a href="#" class="category-choose-unset-all">Убрать выделеное</a>
</div>
<div class="categories-overflow">
    <% _.each(categories, function(category){ %>
    <div class="category-chose-list-item">
        <input class="category-item-checkbox" data-cat-id="<%=category.categoryId%>" name="category-item-<%=category.categoryId%>" type="checkbox" <% if (checkedCategories.indexOf(category.categoryId) !== -1) { %>checked="checked"<% } %> />
        <%=category.categoryName%>
    </div>
    <% }); %>
</div>
<div class="button-container">
    <input type="button" class="categories-apply" value="Применить" />
    <input type="button" class="categories-cancel" value="Отмена" />
</div>