<% if (importantCats.length > 0) { %>
<div class="catlist-header">
    <h3>Важные категории</h3>
</div>
<div class="categories-container">
<% _.each(importantCats, function(category){ %>
    <div class="category-list-item">
        <a class="catlist-item catlist-for-disabled<% if (category.categoryName == 'Лучшие Истории Сайта') { %> catlist-best<% } %><% if (category.categoryImportant === 'y') { %> category-important<% } %>" href="/#category/<%=category.categoryId%>"><%=category.categoryName%></a>
        <span class="catlist-num-stors">(<%=category.categoryStors%>)</span>
    </div>
<% }); %>    
</div>
<% } %>
<% if (otherCats.length > 0) { %>
<div class="catlist-header catlist-other">
    <h3>Прочие категории</h3>
</div>
<div class="categories-container">
<% _.each(otherCats, function(category){ %>
    <div class="category-list-item">
        <a class="catlist-item catlist-for-disabled<% if (category.categoryName == 'Лучшие Истории Сайта') { %> catlist-best<% } %><% if (category.categoryImportant === 'y') { %> category-important<% } %>" href="/#category/<%=category.categoryId%>"><%=category.categoryName%></a>
        <span class="catlist-num-stors">(<%=category.categoryStors%>)</span>
    </div>
<% }); %>    
</div>
<% } %>
<% if (importantCats.length < 1 && otherCats.length < 1) { %>
    <div class="catlist-header">
        <p>Категорий нет</p>
    </div>
<% } %>