.header-menu a {
    margin-right: 10px;
}

.header-menu .active {
    font-weight: bold;
}

.small {
    width:80px;
    height:80px;
    background: #FFF url('../img/preloader.gif') no-repeat;
}

