.header-menu a {
    margin-right: 10px;
}

.header-menu .active {
    font-weight: bold;
}

.small {
    width:41px;
    height:41px;
    background: #FFF url('../img/small-preloader.gif') no-repeat;
}

