<div class="index-category-title">
    <a class="title" href="/#categories/<%=categoryId%>"><%=categoryName%></a>&nbsp;
    <a href="<%=categoryUrl%>" target="_blank" class="show-original">На сайт</a>
</div>
<div class="index-category-stors">
    <% _.each(stors, function(stor){ %>
        <div class="index-stor-title">
            <a class="title" href="/#stories/<%=stor.storId%>"><%=stor.storName%></a>
        </div>
        <div class="index-stor-short-desc">
            <%=stor.storShortDesc%>
        </div>
        <div class="index-stor-bottom">
            Добавлено <span class="date"><%=stor.storDate%></span>
            от <a target="_blank" class="author" href="<%=stor.storAuthorHref%>"><%=stor.storAuthorName%></a>&nbsp;
            <span class="<% if(stor.storRate < 0){ %>plus<% }else{ %>minus<% } %>-rate"><%=stor.storRate%></span>&nbsp;
            просмотров: <span class="watches"><%=stor.storWatches%></span>&nbsp;
            комментариев: <a target="_blank" class="comments" href="<%=stor.storHref%>#comment"><%=stor.storComments%></a>
            <a class="goto-site" target="_blank" href="<%=stor.storHref%>">на сайт...</a>
        </div>
    <% }); %>
</div>
<div class="index-category-bottom"></div>