<div class="index-stor-title">
    <a class="title" href="/#stories/<%=storId%>"><%=storName%></a>
</div>
<div class="index-stor-short-desc">
    <%=storShortDesc%>
</div>
<div class="index-stor-bottom">
    Добавлено <span class="date"><%=storDate%></span>
    от <a target="_blank" class="author" href="<%=storAuthorHref%>"><%=storAuthorName%></a>&nbsp;
    <span class="<% if(storRate < 0){ %>plus<% }else{ %>minus<% } %>-rate"><%=storRate%></span>&nbsp;
    просмотров: <span class="watches"><%=storWatches%></span>&nbsp;
    комментариев: <a target="_blank" class="comments" href="<%=storHref%>#comment"><%=storComments%></a>
    <a class="goto-site" target="_blank" href="<%=storHref%>">на сайт...</a>
</div>