<div class="tabs">
    <a href="#statistics">Таблица</a>
    <span>Диаграмма</span>
</div>
<table class="statchart-table" cellspacing="0" cellpadding="0">
    <tr>
        <td class="table-header" colspan="2">
            <span class="total-label">Всего рассказов:</span>
            <span class="total-value"><%=total%></span>
        </td>
    </tr>
    <tr>
        <td class="margin-cell">&nbsp;</td>
    </tr>
    <tr>
        <td class="chart-diagram"></td>
    </tr>
    <tr>
        <td class="chart-legend">
        <% _.each(chartData, function(numStors, key){ %>
            <div class="legend-item-container">
                <span style="background:<%=colorData[key]%>;" class="legend-color">&nbsp;</span>
                <span style="display:inline-block;" title="<%=numStors%> рассказов" class="legend-label"><%=labelData[key]%> <%=catData[key]%></span>
            </div>
        <% }); %>
        </td>
    </tr>
</table>