<!--<div class="searchform-container">-->
<div class="search-error-block" style="display:none;"></div>
<table class="search-form-table" cellspacing="0" cellpadding="0">
    <tr>
        <td class="label-name name">
            <span>Название</span>
        </td>
        <td class="label-name rating">
            <span>Рейтинг</span>
        </td>
        <td class="label-name date">
            <span>Дата</span>
        </td>
        <td class="label-name watches">
            <span>Просмотров</span>
        </td>
        <td class="label-name comments">
            <span>Коммент.</span>
        </td>
        <td class="label-name get-cats">&nbsp;</td>
    </tr>
    <tr>
        <td class="field-name name">
            <div>
                <input type="text" name="search-name" class="search-name" id="search-name" placeholder="Название истории" style="width:135px;" />
            </div>
            <div class="label-div">
                <input type="checkbox" class="search-in-desc" id="search-in-desc" checked="checked" />
                <label for="search-in-desc">Искать в описании</label>
            </div>
        </td>
        <td class="field-name rating">
            <div>
                <input type="text" name="search-rate-from" class="search-rate-from" id="search-rate-from" placeholder="от" style="width:45px;" />
            </div>
            <div>
                <input type="text" name="search-rate-to" class="search-rate-to" id="search-rate-to" placeholder="до" style="width:45px;" />
            </div>
        </td>
        <td class="field-name date">
            <div>
                <input type="text" name="search-date-from" class="search-date-from" id="search-date-from" placeholder="от" style="width:65px;" />
            </div>
            <div>
                <input type="text" name="search-date-to" class="search-date-to" id="search-date-to" placeholder="до" style="width:65px;" />
            </div>
        </td>
        <td class="field-name watches">
            <div>
                <input type="text" name="search-watches-from" class="search-watches-from" id="search-watches-from" placeholder="от" style="width:70px;" />
            </div>
            <div>
                <input type="text" name="search-watches-to" class="search-watches-to" id="search-watches-to" placeholder="до" style="width:70px;" />
            </div>
        </td>
        <td class="field-name get-cats">
            <div>
                <input type="text" name="search-comments-from" class="search-comments-from" id="search-comments-from" placeholder="от" style="width:50px;" />
            </div>
            <div>
                <input type="text" name="search-comments-to" class="search-comments-to" id="search-comments-to" placeholder="до" style="width:50px;" />
            </div>
        </td>
        <td class="field-name controls">
            <div style="margin-top:-5px;margin-bottom: 5px;">
                <a class="search-choose-categories" href="#" title="Выбрать категории">Категории</a>
            </div>
            <div>
                <a href="#" class="form-submit-button" title="Начать поиск">Поиск</a>
            </div>
        </td>
    </tr>
</table>
<!--</div>-->