<table cellspacing="0" cellpadding="0" class="listbar-container">
    <tr>
        <td class="listbar-controls">
            <span class="listbar-meta">сортировать по:</span>
            <span class="sort-span">
                <a sort-name="storDate" href="#" class="listbar-for-disabled sort-link
                    <% if (_sortBy === 'storDate') { %>
                        sort-active
                        <% if (_sortType === 'ASC') { %>
                            sort-asc
                        <% } else { %>
                            sort-desc        
                        <% } %>
                    <% } %>
                    ">дате</a>
                    <% if (_sortBy === 'storDate') { %>
                        <span class="sort-active sort-type"><%=_sortType === 'ASC'?'▲':'▼'%></span>
                    <% } %>
            </span>
            <span class="sort-span">
                <a sort-name="storRate" href="#" class="listbar-for-disabled sort-link
                   <% if (_sortBy === 'storRate') { %>
                        sort-active
                        <% if (_sortType === 'ASC') { %>
                            sort-asc
                        <% } else { %>
                            sort-desc        
                        <% } %>
                    <% } %>
                    ">рейтингу</a>
                    <% if (_sortBy === 'storRate') { %>
                        <span class="sort-active sort-type"><%=_sortType === 'ASC'?'▲':'▼'%></span>
                    <% } %>
            </span>
            <span class="sort-span">
                <a sort-name="storComments" href="#" class="listbar-for-disabled sort-link
                    <% if (_sortBy === 'storComments') { %>
                        sort-active
                        <% if (_sortType === 'ASC') { %>
                            sort-asc
                        <% } else { %>
                            sort-desc        
                        <% } %>
                    <% } %>
                    ">комментариям</a>
                    <% if (_sortBy === 'storComments') { %>
                        <span class="sort-active sort-type"><%=_sortType === 'ASC'?'▲':'▼'%></span>
                    <% } %>
            </span>
            <span class="sort-span">
                <a sort-name="storWatches" href="#" class="listbar-for-disabled sort-link
                    <% if (_sortBy === 'storWatches') { %>
                        sort-active
                        <% if (_sortType === 'ASC') { %>
                            sort-asc
                        <% } else { %>
                            sort-desc        
                        <% } %>
                    <% } %>
                ">посещаемости</a>
                <% if (_sortBy === 'storWatches') { %>
                    <span class="sort-active sort-type"><%=_sortType === 'ASC'?'▲':'▼'%></span>
                <% } %>
            </span>
            <span class="sort-span">
                <a sort-name="storName" href="#" class="listbar-for-disabled sort-link
                    <% if (_sortBy === 'storName') { %>
                        sort-active
                        <% if (_sortType === 'ASC') { %>
                            sort-asc
                        <% } else { %>
                            sort-desc        
                        <% } %>
                    <% } %>
                ">названию</a>
                <% if (_sortBy === 'storName') { %>
                    <span class="sort-active sort-type"><%=_sortType === 'ASC'?'▲':'▼'%></span>
                <% } %>
            </span>
        </td>
        <td class="listbar-info">
            <span class="listbar-numstors"><%=_numOfStors%></span>
            <span class="listbar-meta">историй - страница</span>
            <span class="listbar-current-page"><%=_currentPage%></span>
        </td>
    </tr>
</table>