<span class="listbar-numstors">рассказов: <%=_numOfStors%></span>
&nbsp;
<span class="listbar-current-page">(страница <%=_currentPage%>)</span>
<span class="listbar-panel">
    сортировать по:&nbsp;&nbsp;&nbsp;
    <span class="sort-span">
        <a sort-name="storDate" href="#" class="listbar-for-disabled sort-link
            <% if (_sortBy === 'storDate') { %>
                sort-active
                <% if (_sortType === 'ASC') { %>
                    sort-asc
                <% } else { %>
                    sort-desc        
                <% } %>
            <% } %>
            ">дате
        </a>
    </span>
    <span class="sort-span">
        <a sort-name="storRate" href="#" class="listbar-for-disabled sort-link
           <% if (_sortBy === 'storRate') { %>
                sort-active
                <% if (_sortType === 'ASC') { %>
                    sort-asc
                <% } else { %>
                    sort-desc        
                <% } %>
           <% } %>">рейтингу</a>
    </span>
    <span class="sort-span">
        <a sort-name="storComments" href="#" class="listbar-for-disabled sort-link
            <% if (_sortBy === 'storComments') { %>
                sort-active
                <% if (_sortType === 'ASC') { %>
                    sort-asc
                <% } else { %>
                    sort-desc        
                <% } %>
            <% } %>">комментариям</a>
    </span>
    <span class="sort-span">
        <a sort-name="storWatches" href="#" class="listbar-for-disabled sort-link
            <% if (_sortBy === 'storWatches') { %>
                sort-active
                <% if (_sortType === 'ASC') { %>
                    sort-asc
                <% } else { %>
                    sort-desc        
                <% } %>
            <% } %>">посещаемости</a>
    </span>
    <span class="sort-span">
        <a sort-name="storName" href="#" class="listbar-for-disabled sort-link
            <% if (_sortBy === 'storName') { %>
                sort-active
                <% if (_sortType === 'ASC') { %>
                    sort-asc
                <% } else { %>
                    sort-desc        
                <% } %>
            <% } %>">названию</a>
    </span>
</span>