<div class="tabs">
    <span>Таблица</span>
    <a href="#statchart">Диаграмма</a>
</div>
<table class="statistics-table" cellspacing="0" cellpadding="0">
    <tr>
        <td class="table-header name">Название истории</td>
        <td class="table-header max-rate">Макс. рейтинг<td>
        <td class="table-header avg-rate">Сред. рейтинг<td>
        <td class="table-header min-rate">Мин. рейтинг<td>
        <td class="table-header stor-count">К-во историй<td>
        <td class="table-header outer-link">Ссылка</td>
    </tr>
    <% _.each(catData, function(category){ %>
    <tr>
        <td class="table-cell name">
            <a href="#category/<%=category.catId%>"><%=category.catName%></a>
        </td>
        <td class="table-cell max-rate">
            <span class="<% if(category.maxRate > 0){ %>plus<% }else{ %>minus<% } %>-rate"><%=category.maxRate%></span>
        <td>
        <td class="table-cell avg-rate">
            <span class="<% if(category.avgRate > 0){ %>plus<% }else{ %>minus<% } %>-rate"><%=category.avgRate%></span>
        <td>
        <td class="table-cell min-rate">
            <span class="<% if(category.minRate > 0){ %>plus<% }else{ %>minus<% } %>-rate"><%=category.minRate%></span>
        <td>
        <td class="table-cell stor-count">
            <%=category.numOfStors%>
        <td>
        <td class="table-cell outer-link">
            <a target="_blank" href="<%=category.catHref%>">Перейти</a>
        </td>
    </tr>
    <% }); %>
</table>