<div class="storlist-stor-item">
    <div class="storlist-stor-title">
        <!--<span class="rate <% if(storRate > 0){ %>plus<% }else{ %>minus<% } %>-rate"><% if(storRate > 0){ %>+<% } %><%=storRate%></span>&nbsp;-->
        <a class="title" target="_blank" title="<%=storHref%>" href="<%=storHref%>"><%=storName%></a>
    </div>
    <div class="storlist-stor-categories">
        <span>Категории:</span>
        <% _.each(storCats, function(cat){ %>
            <a title="<%=cat.catName%>" href="#category/<%=cat.catId%>"><%=cat.catName%></a>
        <% }); %>
    </div>
    <div class="storlist-stor-short-desc">
        <%=storShortDesc%>
    </div>
<!--    <div class="storlist-stor-bottom">
        Добавлено <span class="date"><%=storDate%></span>
        от <a target="_blank" class="author" href="<%=storAuthorHref%>"><%=storAuthorName%></a>&nbsp;
        просмотров: <span class="watches"><%=storWatches%></span>&nbsp;
        комментариев: <a target="_blank" class="comments" href="<%=storHref%>#comment"><%=storComments%></a>
        <a class="goto-site" target="_blank" href="<%=storHref%>">на сайт...</a>
    </div>-->
</div>